@using WebApplication1.Models

@{
    ViewData["Title"] = "Detail";
}


<div class="card shadow-sm mb-3">
    <div class="card-header text-white bg-primary">
        <h5 class="mb-0">Book Author Details</h5>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <p class="mb-2"><strong>Author:</strong> @Model.FirstName @Model.LastName</p>
                <p class="mb-0"><strong>Age:</strong> @Model.Age</p>
            </div>
            <div class="d-flex flex-column">
                <a asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-success btn-sm mb-2">Edit</a>
                <a asp-action="Delete" asp-route-Id="@Model.Id" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
</div>

<h3>Books</h3>
@if (Model.Books != null && Model.Books.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-2">Title</th>
                <th class="col-md-4">Description</th>
                <th>Publish date</th>
                <th>Genre</th>
                <th>Pages</th>
                <th>Price</th>
                <th>Picture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr style="vertical-align: middle">
                    <td>@book.Title</td>
                    <td>@book.Description</td>
                    <td>@book.PublisheDate</td>
                    <td>@book.Genre</td>
                    <td>@book.Pages</td>
                    <td>@book.Price Kč</td>
					<td>
						@if (book.Picture != null)
						{
							<img style="height:180px" src="@book.Picture" />
						}
						else
						{
							<p>No Picture</p>
						}
                      </td>
                    <td style="text-align:center">
                        <a asp-action="BookEdit" asp-route-id="@book.Id" class="btn btn-success btn-sm" style="margin-bottom: 5px; width: 80%">Edit</a>
                        <a asp-action="DeleteBook" asp-route-id="@book.Id" class="btn btn-danger btn-sm" style="margin-top: 5px; width: 80%">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>This student has not written any books yet.</p>
}

<a asp-action="AddBookToAuthor" asp-route-id="@Model.Id"><button class="btn btn-primary">+ Add Book</button></a>