@using WebApplication1.Models
@model Student
@{
    ViewData["Title"] = "Detail Page";
}

<h1>@ViewData["Title"]</h1>

<button class="btn bg-white btn-outline-dark">
    <a asp-action="Create">Create</a>
</button>

<table class="table" style="margin-top:50px">
    <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>

        </tr>
    </thead>
    <tbody>

            <tr>
                <td>@Model.Id</td>
            <td>@Model.FirstName</td>
            
                <td>
                <a asp-action="Edit" asp-route-Id="@Model.Id"><button class="btn btn-success">Edit</button></a>
                <a asp-action="Delete" asp-route-Id="@Model.Id"><button class="btn btn-danger">Delete</button> </a>
                </td>
            </tr>

    </tbody>
</table>