@using WebApplication1.Models
@model List<Student>
@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>

<a asp-action="Create"><button class="btn btn-success">Create</button></a>

<table class="table" style="margin-top:50px">
    <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
            
                <td>
                    <a asp-action="Edit" asp-route-Id="@student.Id"><button class="btn btn-success">Edit</button></a>
                    <a asp-action="Delete" asp-route-Id="@student.Id"><button class="btn btn-danger">Delete</button> </a>
                </td>
            </tr>
        }

    </tbody>
</table>